@use '../../../src/styles/variables' as *; 


.navbar {
    padding: 1rem;
    background: #0f0f0f;
    color: rgb(250, 245, 245);

    ul {
        margin: 0;
        padding: 0;

        li {
            font-size: 1rem;
            font-weight: 600;

        }
    }


}


.nclone {
    font-size: 4.5rem;
    font-weight: 700;
    color: $primary-hover-color;
}

.icon {
    fill: #fff;  /* Change the color of the SVG */
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        fill: #c91313;  /* Change the color on hover */
    }
  }